.branding {
  &__logo {
    color: $alternative-color;
    text-align: center;
  }
}

.header {
  &__logo {
    min-width: 10em;
  }
}

.logo {
  &__icon {
    font-size: 6em;
    left: .4em;
    position: relative;
    top: .25em;
  }

  &__name {
    font-family: 'Righteous', serif;
    font-size: 9em;
    letter-spacing: .015em;
    margin: 0;
  }
}
