.logo {
  color: $primary-color;
  text-align: center;

  &__icon {
    font-size: 14em;
    left: .4em;
    position: relative;
    top: .2em;
  }

  &__name {
    font-family: 'Righteous', serif;
    font-size: 12em;
    letter-spacing: .015em;
    margin: 0;

    &--emphasis {
      color: $emphasis-color;
    }
  }
}
