.header {
  &__menu {
    list-style: none;
  }
}

.menu {
  &__item {
    margin-right: 5em;
    text-align: right;

    &:first-child {
      margin-bottom: 2em;
    }

    &.-for-dashboard {
      margin-top: 2.5em;
    }
  }

  &__link {
    cursor: pointer;
    font-size: 3em;
  }
}
