.overlay {

  &--hidden {
    display: none;
  }

  &__close {
    color: $emphasis-color;
    cursor: pointer;
    font-size: 4em;
    position: absolute;
    right: .7em;
    text-shadow: $light-shadow;
    top: .5em;

    &:hover {
      color: $alternative-emphasis-color;
    }
  }

  &--content-push {
    animation: contentPush 1s forwards;

    &--hidden {
      animation: contentPull 1s forwards;
    }

    &--right {
      animation: contentPushRight 1s forwards;
    }

    &--right--hidden {
      animation: contentPullRight 1s forwards;
    }
  }
}
