@keyframes pushContainer {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes pullContainer {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes contentPush {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes contentPull {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes pushContainerRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes pullContainerRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes contentPushRight {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

@keyframes contentPullRight {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

@keyframes upToHeader {
  0% {
    height: 100%;
  }

  100% {
    height: 6em;
  }
}

@keyframes downFromHeader {
  0% {
    height: 6;
  }

  100% {
    height: 100vh;
  }
}

@keyframes pushContainerTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pullContainerBottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes openDetail {
  0% {
    height: 0;
    margin-bottom: 0;
  }

  100% {
    height: 8em;
    margin-bottom: 1.9em;
  }
}

@keyframes closeDetail {
  0% {
    height: 8em;
    margin-bottom: 1.9em;
  }

  100% {
    height: 0;
    margin-bottom: 0;
  }
}

@keyframes openDetailPadding {
  0% {
    height: 0;
    padding: 0 2em;
  }

  100% {
    height: 5.8em;
    padding: 1em 2em;
  }
}

@keyframes closeDetailPadding {
  0% {
    height: 5.8em;
    padding: 1em 2em;
  }

  100% {
    height: 0;
    padding: 0 2em;
  }
}

@keyframes openDetailCover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(7.8em);
  }
}

@keyframes closeDetailCover {
  0% {
    transform: translateY(7.8em);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes upArrow {
  0% {
    opacity: 1;
    transform: translate(-50%, 1em);
  }

  75% {
    opacity: .9;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 2em);
  }
}

@keyframes arrowThis {
  0% {
    opacity: 0;
    transform: translate(-50%, 2em);
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 1em);

  }
}

@media (min-width: $medium) {
  @keyframes openDetail {
    0% {
      height: 0;
      margin-bottom: 0;
    }

    100% {
      height: 10.3em;
      margin-bottom: 1.9em;
    }
  }

  @keyframes closeDetail {
    0% {
      height: 10.3em;
      margin-bottom: 1.9em;
    }

    100% {
      height: 0;
      margin-bottom: 0;
    }
  }

  @keyframes openDetailPadding {
    0% {
      height: 0;
      padding: 0 2em;
    }

    100% {
      height: 8.8em;
      padding: 1em 2em;
    }
  }

  @keyframes closeDetailPadding {
    0% {
      height: 7.8em;
      padding: 1em 2em;
    }

    100% {
      height: 0;
      padding: 0 2em;
    }
  }

  @keyframes openDetailCover {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(9.8em);
    }
  }

  @keyframes closeDetailCover {
    0% {
      transform: translateY(9.8em);
    }

    100% {
      transform: translateY(0);
    }
  }
}
