@keyframes pushContainer {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes pullContainer {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes contentPush {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes contentPull {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes pushContainerRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes pullContainerRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes contentPushRight {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

@keyframes contentPullRight {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

@keyframes upToHeader {
  0% {
    height: 100%;
  }

  100% {
    height: 9.5em;
  }
}

@keyframes downFromHeader {
  0% {
    height: 9.5;
  }

  100% {
    height: 100vh;
  }
}

@keyframes pushContainerTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pullContainerBottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes openDetail {
  0% {
    height: 0;
  }

  100% {
    height: 14em;
  }
}

@keyframes closeDetail {
  0% {
    height: 14em;
  }

  100% {
    height: 0;
  }
}

@keyframes openDetailPadding {
  0% {
    height: 0;
    padding: 0 4em;
  }

  100% {
    height: 12em;
    padding: 1em 4em;
  }
}

@keyframes closeDetailPadding {
  0% {
    height: 12em;
    padding: 1em 4em;
  }

  100% {
    height: 0;
    padding: 0 4em;
  }
}

@keyframes openDetailCover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(14.1em);
  }
}

@keyframes closeDetailCover {
  0% {
    transform: translateY(14.1em);
  }

  100% {
    transform: translateY(0);
  }
}
