%flex {
  display: flex;
  flex-grow: 1;
}

%flex-column {
  flex-direction: column;
}

%flex-row {
  flex-direction: row;
}

%align-right {
  justify-content: flex-end;
}

%align-center {
  justify-content: center;
}

%align-top {
  align-items: flex-start;
}

%align-bottom {
  align-items: flex-end;
}

%align-vcenter {
  align-items: center;
}

%up-arrow {

  &::after {
    -webkit-backface-visibility: hidden;
    border-bottom: 20px solid $alt-background-color;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: '';
    height: 0;
    opacity: 0;
    position: absolute;
    -webkit-transform: translateZ(0);
    transform: translate(6.8em, 23em);
    transition: all .5s .7s ease-in;
    width: 0;
    z-index: 99;
  }
}

%arrow-for-this {
  &::after {
    -webkit-backface-visibility: hidden;
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translate(6.8em, 21.5em);
    transition: all .5s .8s ease-in;
  }
}
