%flex {
  display: flex;
  flex-grow: 1;
}

%flex-column {
  flex-direction: column;
}

%flex-row {
  flex-direction: row;
}

%align-right {
  justify-content: flex-end;
}

%align-center {
  justify-content: center;
}

%align-top {
  align-items: flex-start;
}

%align-bottom {
  align-items: flex-end;
}

%align-vcenter {
  align-items: center;
}

%up-arrow {

  &::after {
    border-bottom: 20px solid $alt-background-color;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: '';
    height: 0;
    opacity: 0;
    position: absolute;
    transform: translate(4.5em, 20em);
    transition: all .5s ease-in;
    width: 0;
  }
}

%arrow-for-this {
  &::after {
    opacity: 1;
    transform: translate(4.5em, 21em);
    transition: all .5s ease-in;
  }
}
