%flex {
  display: flex;
  flex-grow: 1;
}

%flex-column {
  flex-direction: column;
}

%flex-row {
  flex-direction: row;
}

%align-right {
  justify-content: flex-end;
}

%align-center {
  justify-content: center;
}

%align-top {
  align-items: flex-start;
}

%align-bottom {
  align-items: flex-end;
}

%align-vcenter {
  align-items: center;
}

%up-arrow {

  &::after {
    border-bottom: 1em solid $alt-background-color;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    content: '';
    height: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, 2em);
    width: 0;
  }
}

%arrow-for-this {
  &::after {
    opacity: 1;
  }
}
