$alternative-color: #f5eff0;
$primary-color: #424143;
$secondary-color: #fff;
$navigation-color: #9f9ea3;
$emphasis-color: #009fb2;
// $emphasis-color: #f24722;
// $emphasis-color: #de3215;
// $emphasis-color: #8ead17;
// $emphasis-color: #f24d00;

// === @media ===
$medium: 800px;
