@import 'abstracts/variables';
@import 'base/base';
@import 'base/fonts';

@import 'components/menu';
@import 'components/logo';

.container {
  background-color: $secondary-color;

  &--full-screen {
    height: 100vh;
  }

  &--flex {
    display: flex;
    flex-grow: 1;

    &--column {
      flex-direction: column;
    }

    &--row {
      flex-direction: row;
    }

    &--priority {
      flex-grow: 1;
    }

    &--align-right {
      justify-content: flex-end;
    }

    &--align-center {
      justify-content: center;
    }

    &--align-top {
      align-items: flex-start;
    }

    &--align-middle {
      align-items: center;
    }
  }

  &__headline {
    color: $primary-color;

    &--landing {
      font-size: 2.5em;
      letter-spacing: .25em;
    }

    &--emphasis {
      color: $emphasis-color;
    }
  }
}

@media (max-height: $medium) {
  .container {
    &--priority {
      flex-grow: 1;
    }
  }
}
