.deck-detail {
  transform: translateY(2.7em);
  width: 100%;
  z-index: $deck-detail;

  // this is an ugly hack related to the use of ReactCSSTransition
  // scss-lint:disable NestingDepth
  &.transition-enter-show {
    animation: openDetail $detail-box-time forwards;

    .-with-react-transition {
      animation: openDetailPadding $detail-box-time forwards;

      &.-as-cover {
        animation: openDetailCover $detail-box-time forwards;
      }
    }
  }

  &.leave.hidden {
    animation: closeDetail $detail-box-time forwards;

    .-with-react-transition {
      animation: closeDetailPadding $detail-box-time forwards;

      &.-as-cover {
        animation: closeDetailCover $detail-box-time forwards;
      }
    }
  }
  // scss-lint:enable NestingDepth
}

// scss-lint:disable SelectorFormat
.deck__card {
  // scss-lint:enable SelectorFormat
  background-color: $secondary-color;
  height: 28em;
  margin: 1.7em 0;
  overflow: hidden;
  padding: 2em .3em .2em;
  z-index: $deck-card;

  &:hover {
    .-pin {
      display: inline;
    }
  }

  &.-up-arrow {
    @extend %up-arrow;
  }

  &.-arrow-for-this {
    @extend %arrow-for-this;

    &::after {
      animation: arrowThis .5s .8s forwards;
    }
  }

  &.-arrow-in-row-for-this {
    &::after {
      animation: arrowThis .5s forwards;
    }
  }
}

.card {

  &__poster {
    box-shadow: $poster-shadow;
    cursor: pointer;
    height: 28em;
    overflow: hidden;
  }

  &.picture {
    width: 100%;
  }

  &__pinit {
    border-radius: 2em;
    box-shadow: $higher-shadow;
    color: $secondary-color;
    cursor: pointer;
    display: none;
    font-size: 5em;
    padding: .3em .3em .2em;

    &:hover {
      box-shadow: $shadow;
    }

    &.-next-to-poster {
      position: absolute;
      transform: translate(1.1em, -6em);
      z-index: $pin-for-poster;
    }

    &.-pin {
      background-color: $emphasis-color;
      box-shadow: $higher-shadow;
    }

    &.-unpin {
      background-color: $alternative-emphasis-color;
      box-shadow: $higher-shadow;
      display: inline;
    }
  }

  &__detail {
    background-color: $alt-background-color;
    color: $secondary-color;
    font-family: 'Quicksand', sans-serif;
    height: 16em;
    left: -3px;
    overflow-y: auto;
    position: fixed;
    top: -13px;
    width: 102%;
    z-index: 1;

    &.-as-cover {
      background-color: $secondary-color;
      box-shadow: none;
      height: 22em;
      z-index: 2;

    }

    .detail {
      font-size: 1.5em;
    }

    .overview {
      font-size: 2em;
      margin-bottom: 2.5em;
    }

    .-as-summary {
      width: 90%;
    }
  }
}

@media (-webkit-device-pixel-ratio: 3) and
       (min-resolution: 144dpi) and
       (orientation: landscape) {

// scss-lint:disable SelectorFormat
  .deck__card {
// scss-lint:enable SelectorFormat
    height: 15em;
  }

  .card {
    &__poster {
      height: 15em;
    }

    &__pinit {
      font-size: 3em;
    }

    &__detail {
      .detail {
        font-size: 1.4em;
      }

      .overview {
        font-size: 1.6em;
      }
    }
  }
}
