.deck-detail {
  transform: translateX(-.9em);
  width: 100%;

  &.-show {
    animation: openDetail 2s forwards;
  }

  &.-hidden {
    animation: closeDetail 2s forwards;
  }
}

.deck-card {
  background-color: $secondary-color;
  height: 18.5em;
  margin: 3em 2.4em .8em;
  overflow: hidden;
  padding: .2em 2em .2em .2em;
  z-index: $deck-card;

  &.-up-arrow {
    @extend %up-arrow;

    &::after {
      transform: translate(4.5em, 20.3em);
    }
  }

  &.-arrow-for-this {
    @extend %arrow-for-this;

    &::after {
      transform: translate(4.5em, 18.3em);
    }
  }
}

.card {

  &__poster {
    box-shadow: $poster-shadow;
    cursor: pointer;
    height: 17em;
    overflow: hidden;
    width: 11.5em;
  }

  &.picture {
    height: auto;
    width: 100%;
  }

  &__pinit {
    border-radius: 2em;
    box-shadow: $higher-shadow;
    color: $secondary-color;
    cursor: pointer;
    display: none;
    font-size: 1.7em;
    left: 5.9em;
    padding: .3em .3em .2em;

    &:hover {
      box-shadow: $shadow;
    }

    &.-next-to-poster {
      bottom: .8em;
      position: relative;
      z-index: $pin-for-poster;
    }

    &.-pin {
      background-color: $emphasis-color;
    }

    &.-unpin {
      background-color: $alternative-emphasis-color;
      display: inline;
    }
  }

  &:hover {
    .-pin {
      display: inline;
    }
  }

  &__detail {
    background-color: $alt-background-color;
    color: $secondary-color;
    font-family: 'Quicksand', sans-serif;
    height: 12em;
    left: -3px;
    position: fixed;
    width: 102%;
    z-index: 1;

    &.-show {
      animation: openDetailPadding 2s forwards;
    }

    &.-hidden {
      animation: closeDetailPadding 2s forwards;
    }

    &.-as-cover {
      background-color: $secondary-color;
      box-shadow: none;
      height: 14em;
      z-index: 2;

      // scss-lint:disable NestingDepth
      &.-show {
        animation: openDetailCover 2s forwards;
      }

      &.-hidden {
        animation: closeDetailCover 2s forwards;
      }
      // scss-lint:enable NestingDepth
    }
  }
}
